<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">

    <input required type="text" 
    #fullname="ngModel"
    [(ngModel)]="userService.selectedUser.fullname"
    name="fullname"
    placeholder="fullname"
    [ngClass]=" {'invalid-textbox' : signUpForm.submitted && !fullname.valid} ">
<div *ngIf="signUpForm.submitted && !fullname.valid">
    <label class="validation-message">This field is required.</label>
</div>

    <input required 
    type="text" #email="ngModel" 
    [(ngModel)]="userService.selectedUser.email" 
    name="email" placeholder="Enter email" 
    required [pattern]="emailRegex"
    [ngClass]=" {'invalid-textbox' : signUpForm.submitted && !email.valid} ">
    <div *ngIf="signUpForm.submitted && email.errors">
        <label *ngIf="email.errors?.['required']" class="validation-message" >This field is required.</label>
        <label *ngIf="email.errors?.['pattern']" class="validation-message">Invalid email address.</label>
    </div>


    <input required type="password" #password="ngModel" [ngClass]=" {'invalid-textbox': signUpForm.submitted && !password.valid}" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="password" required minlength="6">
    <div *ngIf="signUpForm.submitted && password.errors">
        <label class="validation-message" *ngIf="password.errors?.['required']">Password is required.</label>
        <label class="validation-message" *ngIf="password.errors?.['minlength']">Minimum 6 charactors needed.</label>
    </div>

    <input required type="submit" value="Sign Up">
</form>
<div class="success" *ngIf="showSuccessMessage">SignUp Successful !</div>
<div class="alert" *ngIf="serverErrorMessages">{{serverErrorMessages}}</div>